*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --c1: #35794B;
    --c2: #234214;
    --verde_claro: #5ad681;
    --cor_body: rgba(196, 194, 194, 0.436);
    --c3: #A6CE95;
    --c4: #BAD9AD;
    --c5: #E0EFDD;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

li
{
    list-style: none;
}

.div_form_versão_pc
{
    width: 60%;
    max-width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.form_versão_pc
{
    display: flex;
    align-items: center;
    width: 100%;
}

.form_versão_pc div.ceta ion-icon
{
    font-size: 1.3em;
    color: white;
    cursor: pointer;
}

.form_versão_pc input
{
    border-radius: 15px 0px 0px 15px;
    width: 90%;
    max-width: 520px;
    padding: 9px;
    border: unset;
    outline: none;
}

.form_versão_pc button
{
    border-radius: 0px 15px 15px 0px;
    border: unset;
    outline: none;
    padding: 4.8px;
    width: 13%;
    margin-left: -2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_versão_pc button ion-icon
{
    font-size: 1.8em;
}

header
{
    display: flex;
    flex-direction: column;
    background-color: #35794B;
    height: 47px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
}

.container_logo_search_menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    height: 100%;
    
}

.logo_hustle
{
    font-size: 1.15em;
    margin-left: 10px;
    color: gold;
    display: flex;
    align-items: center;
}

.ion__{
    z-index: 2;
}

.search_menu{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: white;
}

.search_menu .menu{
    width: 30px;
    height: 28px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 50%;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbbbbb77;
}

.search{
    width: 30px;
    height: 28px;
    background-color: #bbbbbb77;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
    cursor: pointer;
    font-size: 1.2em;
}
.voltar{
    color: white;
    cursor: pointer;
    font-size: 1.1em;
}

.div_img_perfil{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.img_perfil{
    height: 30px;
    width: 30px;

}

.img_perfil img
{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.container_pesquisa{
    position: absolute;
    top: 0px;
    height: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.429);
    display: none;
}


.container_pesquisa form
{
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}
.ceta_voltar span{
    cursor: pointer;
    color: white;
}
.input_button{
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    width: 90%;
}

.container_pesquisa form input{
    border-radius: 20px;
    padding: 8px;
    border: none;
    background-color: rgba(0, 0, 0, 0.500);
    width: 95%;
}


.container_pesquisa form input:focus-within
{
    background-color: white;
}




.info_menu ion-icon{
    font-size: 1.4em;
    color: #35794B;
    color: black;
}


.menu_left{
    left: 0px !important;
    z-index: 3 !important;
}
.info_menu{
    width: 200px;
    height: 100vh;
    position: absolute;
    top: 0px;   
    left: -200px;
    position: fixed;
    background-color: white;
    color: black;
    opacity: 100;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    transition: left .2s;
    
}
.info_menu::-webkit-scrollbar{
    display: none;
}
.info_menu p, span{
    color: black;
}
.container_logo_perfil_menu{
    width: 100%;
    height: 100%;
    height:16vh;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    
}
.logo_hustle_menu{
    width: 100%;
    height: 5vh;
    padding: 5px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #35794B;
}

.logo_hustle_menu p{
    margin-left: 10px;
    color: gold;
}

.fechar_menu{
    border: none;
}
.fechar_menu_span{
    padding: 3px;
    cursor: pointer;
    color: white;
}
.fechar_menu_span:hover{
    background-color: rgba(66, 65, 65, 0.139);
    border-radius: 50%;
}
.container_perfil_usuario_menu{
    height: 12vh;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    margin-left: 6%;
    
    
}
.container_perfil_usuario_menu > a{
    width: auto;
   
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.img_perfil_menu{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.nome_menu{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: .9em;
    margin-top: -20px;
    width: 150px;
    padding: 3px;
    
}
.nome_menu > p{
   margin-left: 1%;
   margin-top: 1%;
}
.info_menu > div.def{
    color: black;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 3px;
}
.info_menu > div.def > a{
    width: 100%;
    height: 100%;
}
.info_menu > div.def > a > li {
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: background-color .3s;
}
.info_menu > div.def > a > li:hover{
    background-color: #A6CE95;
}
.info_menu > div.def > a > li > p{
    margin-right: 4px;
}
.info_menu > div.def > a > li > abbr{
    margin-right: 40px;
    
}



.ofuscar_tela_menu{
    position: absolute;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.381);
    z-index: 2;
    display: none;
}

/*ESTAS SÃO AS CONFIGURAÇÕES DO MEU MENU DE COMPUTADOR(A PARTE FIXA)*/

.container_menu_computador
{
    width: 70px;
    height: calc(100vh - 50px);
    position: relative;
    top: 50px;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}


.div_img_perfil_computador
{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.img_perfil_computador
{
    height: 40px;
    width: 40px;
}

.img_perfil_computador img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.def_computador{
    margin: 20px 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 85%;
    border-radius: 5px;
}

.def_computador:hover
{
    background-color: #bbbbbb77;
}
.def_computador a li 
{
    width: 100%;
    padding: 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.def_computador a li abbr
{
    display: flex;
    justify-content: center;
}

.def_computador a li abbr ion-icon
{
    font-size: 1.5em;
    color: black;
}

.def_computador a li p{
    font-size: .7em;
    color: black;
}
